dist/
alipay/
weapp/
public/
prod/
deploy_versions/
.temp/
.rn_temp/
node_modules/
*.log
.DS_Store
**/.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
src/utils/cropper.js